@font-face {
    font-family: myFirstFont;
    src: url('../Game\ of\ Thrones.ttf')
}

.jumbotron {
    font-family: myFirstFont;
    background-image: url('../images/whitewalker.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body, html {
    background-color: black;
}

.container {
    font-family: myFirstFont;
}

span {
    padding-left: 3px;
    padding-right: 3px;
    background-color: transparent; 
    font-size: 20px;
    margin-left: 5px;
}

/* #input-field {
    visibility: hidden;
} */


/* Media Queries*/

@media screen and (max-width: 1146px) {
    #image {
        width: 100%;
        height: 300px;
    }

}

@media screen and (max-width: 980px) {
    #image {
        width: 100%;
        height: 300px;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    #image {
        max-width: 480px;
        max-height: 480px;
    }

  }
  
  @media screen and (max-width: 640px) {
    #image {
        width: 100%;
        height: auto;
    }
  }
  
  @media screen and (max-width: 500px) {
   
    #image {
      width: 100%;
      height: auto;
    }
  }
  